@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#ternary
  width: 100%
  height: 500px
@media(max-width: 640px)
  #ternary
    height: 400px

h1 img
  width: 38px
  height: 38px
  vertical-align: top
  border-radius: 3px
  box-shadow: 0 1px 3px rgba(0,0,0,0.4)

#questionnaire
  border-top: 5px solid #444
  border-bottom: 5px solid #444
  height: 600px
  width: 100%
@media(max-width: 640px)
  #questionnaire
    height: 400px
#result
  .btn.active
    color: #000!important

#plotdb-logo img
  width: 14px
  height: 14px
  vertical-align: text-top
#plotdb-logo
  font-size: 14px
  color: #ccc
